<div class="answer">
  <p>You say <%=params[:question]%></p>
</div>
<div class="answer">
  <p>Coach says <%=@answer%></p>
</div>

<div class="link">
  <%= link_to 'do you have another Qs', ask_path %>
</div>

